// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {

  .index-posts {

    article {
      position: relative;
      max-width: 670px;
      margin: 0 auto 80px;

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #ccc;
        margin-top: 20px;
      }

      .entry-header {
        margin-top: 40px;
        margin-bottom: 20px;
      }

      .entry-title {
        font-weight: 400;
        a {
          color: $text-color;
        }

      }

      .entry-meta {
        font-size: 12px;
        font-style: italic;
      }

      .entry-content {
        margin-top: 20px;
        font-size: 16px;
      }

      .entry-read-more {
        display: inline-block;
        a {
          display: flex;
          align-items: center;
          font-weight: 200;
          font-size: 16px;

          i {
            margin-top: 4px;
            transition: all 0.2s ease, color 0s linear;
          }
        }
      }

      .entry-read-more a:hover {
        i {
          transform: translateX(6px);
        }
      }

    }
  }

  .sidebar {
    margin-top: 40px;
  }
}


  .widget {
    padding: 5px 20px;
    background-color: $light-grey;

    .widget-title {
      font-size: 22px;
      text-align: center;
    }

    p {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
      text-align: center;
    }

    #loading-div {
      font-size: 15px;
      text-align: center;
    }

    button {
      width: 100px;
    }

    #mc-spinner {
      display: none;
    }

  }

  .widget_sn_widget {

    background-color: transparent;
    margin-bottom: 0;

    .sn-widget-list {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-left: 0;

      li {
        display: inline-block;
        a {
          font-size: 25px;
          color: $dark-blue;
          position: relative;
          z-index: 4;

          i {
            position: relative;
            z-index: 3;
          }

          @include prefix('transition', color 0.2s, moz webkit ms);

          @include on-event() {
            color: $light-blue;
          }
        }
      }

    }

  }

